<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Home | Bankir</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div id="affichage">
			<h1>Dépenses</h1>
			<table>
				<tr>
					<th>Label</th>
					<th>Propriétaire</th>
					<th>Montant</th>
					<th>Offert</th>
					<th>Remboursée</th>
					<th>Outils</th>
				</tr>
				<tr th:each="depense : ${depenses}">
			        <td th:text="${depense.label}"></td>
			        <td th:text="${depense.user?.username}"></td>
			        <td th:text="${depense.montant}"></td>

					<td th:text="${depense.offert} ? X : O"></td>
			        <td th:text="${depense.rembourser} ? X : O"></td>
			        
			        <td>
				        <a th:href="@{/depenses/modifier(id=${depense.id})}">Modifier</a>
				        <a th:href="@{/depenses/supprimer(id=${depense.id})}">Supprimer</a>
				        <a th:href="@{/depenses/offrir(id=${depense.id})}">Offrir</a>
				        <a th:href="@{/depenses/rembourser(id=${depense.id})}">Rembourser</a>
			        </td>
			    </tr>
			</table>
			
			<h3 th:text="${message}"></h3>
		</div>
		
		<div id="ajouter">
			<form action="#" th:action="@{/depenses/ajouter}" th:object="${Depense}" method="post">
			   <p> Label <input type="text" id="label" name="label" /> </p>
			   <p> Montant <input type="text" id="montant" name="montant" /> </p>
			   <input type="submit" value="Ajouter"/>
			</form>
		</div>
	</body>
</html>